@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.consult {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.consult.animate {
    opacity: 1;
    transform: translateY(0);
}

.consult-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 1200px;
}

.consult-image {
    position: absolute;
    width: 750px;
    height: 750px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.consult-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.consult-info {
    /* margin-left: 320px; */
    /* Adjust spacing to position the rectangle correctly */
    background-color: var(--secondary-background-color);
    color: #fff;
    padding: 40px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
    position: relative;
    text-align: left;
    margin-top: 35rem;
    left: 50%;
    z-index: 2;
    max-width: 510px;
}

.consult-heading {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: var(--primary-font);
}

.consult-description {
    font-size: 1.3rem;
    line-height: 30px;
    word-spacing: 2px;
    margin-bottom: 20px;
    font-family: var(--primary-font);
}

.consult-button {
    padding: 12px 30px;
    font-size: 1.4rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: #000000;
    width: auto;
    background-color:var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.consult-button:hover {
    background-color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
    #consult-section{
        height: 65vh;
    }
    .consult {
        overflow: visible;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: first baseline;
        justify-content: start;
        padding: 15px;
    }
    
    .consult-image {
        width: 300px;
        height: 300px;
    }

    .consult-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40vh;
    }
    .consult-info {
        margin-left: 0;
        position: relative;
        top: auto;
        left: auto;
        padding: 10px;
        text-align: center;
    }

    .consult-heading {
        font-size: 1.25rem;
    }

    .consult-description {
        font-size: 0.9rem;
    }

    .consult-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {

    #consult-section{
        height: 65vh;
    }
    .consult {
        overflow: visible;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: first baseline;
        justify-content: start;
        padding: 15px;
    }
    
    .consult-image {
        width: 300px;
        height: 300px;
    }

    .consult-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40vh;
    }
    .consult-info {
        margin-left: 0;
        position: relative;
        top: auto;
        left: auto;
        padding: 10px;
        text-align: center;
    }

    .consult-heading {
        font-size: 1.25rem;
    }

    .consult-description {
        font-size: 0.9rem;
    }

    .consult-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}